// Header

@include media-width($xl, 'max') {
	.container {
		max-width: $xl;
		padding: 0 50px;
	}
	.promo {
		&__list {
			grid-template-columns: 1fr 1fr;
		}
		&__button {

			&:before,
			&:after {
				width: 70%;
			}
		}
	}
}

@include media-width($lg, 'max') {
	.container {
		max-width: $lg;
		//padding: 0 30px;
		padding: 0 100px;
	}
}

@include media-width($md, 'max') {
	.container {
		max-width: $md;
		padding: 0 25px;
	}

	.container-header {
		max-width: $md;
		padding: 50px 30px;
		
	}

		.promo {
			&__list {
				grid-template-columns: 1fr 1fr;
			}
	
			&__button {
	
				&:before,
				&:after {
					width: 70%;
				}
			}
		}
}



@include media-width($sm, 'max') {
	.container {
		max-width: $sm;
	}
}

@include media-width($xs, 'max') {
	.container {
		max-width: $xs;
	}
}

@include media-width($md, 'max') {
	#nav-icon1 {
		display: block;
	} 
	.header {

		&__logo {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			z-index: 7;
		}

		&__burger {
			z-index: 7;
		}

		&__menu {
			margin: 0 0;
		}

		&__wr {
			position: absolute;
			top: -400px;
			flex-direction: column;
			transition: .5s all ease-in-out;
			background-color: $main_color;
			z-index: 6;
			padding: 50px 0;

			&.active {
				top: 50px;
			}
		}

		&__site-info {
			flex-direction: column;
			margin-top: 40px;
		}
	}

	.container-header {
		flex-direction: column;
	}

	.menu {
		

		&__list {
			flex-direction: column;
			gap: 40px;
			text-align: center;
			padding: 0;
			margin: 0;
		}

		&__item {
			height: 0;
		}
	}
	.footer {

		&__wrapper {
			flex-direction: column;
		}

		&__list {
			padding: 40px 20px;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
		}

		&__item {}

		&__rights {
			text-align: center;
			padding: 0px 0 30px;
		}
	}

	.request {

		background: linear-gradient(0deg, #F9F9FF 0%, #ECEAFF 100%);
		&__wrapper {
			padding: 0;
			box-shadow: none;
			background: none;
		}

		&__img {

			img {
				max-width: 80%;
			}
			max-width: 100%;
		}
	}

	.awards {
		
		&__list {
			flex-direction: column;
			align-items: center;
			margin-bottom: 30px;
		}

		&__title {
			margin-top: 0;
		}
	}

	.promo {
		&__list {
			grid-template-columns: 1fr 1fr;
		}

		&__button {
			&:before,
			&:after {
				display: none;
			}
		}
	}

	.reviews {
		&__slide {
			width: 300px;
			height: 300px;
		}

		&__content {
			width: 250px;
		}

		&__content-wrapper {
			gap: 0 12px;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr;
		}

		&__name {
			font-size: 16px;
		}

		&__link	 {
			font-size: 16px;
			line-height: 16px;
		}

		&__text {
			font-size: 12px;
			line-height: 16px;
		}

		&__photo {
			max-width: 80px;
			max-height: 80px;
		}
	}

	.app {
		padding: 20px 0 0;
		&__wrapper {
			flex-direction: column;
		}

		&__block {
			max-width: 100%;
		}

		&__img {

			img {
				position: relative;
				max-width: 100%;
				margin: 0 auto;
				top: 0;
				left: 0;
			}
		}
	}
	.mission {
		&__wrapper {
			flex-direction: column;
		}

		&__desc {
			max-width: 100%;
		}

		&__stat {
			.stat__item {
				//flex-direction: column;
				justify-content: start;
				width: 100%;
			}

			.stat__value {
				min-width: 105px;
				text-align: left;
			}

			.stat__desc {
				text-align: left;
			}
		}

		&__map {
			width: 100%;

			img {
				max-width: 100%;
			}
		}
	}

	.technology {
		&__list {
			grid-template-columns: 1fr 1fr;
		}
	}

	.request__contacts {
		.request {
			&__wrapper {
				flex-direction: column;
				gap: 40px;
			}
		}
	}

	.always {

		.container {
			display: flex;
			flex-direction: column;
		}

		picture {
			display: flex;
			order: 5;
		}
		
		img {
			position: relative;
			top: 50px;
		}

		&__img {
			left: 0;
			right: 0;
			position: relative;
			width: 100%;
			max-width: 100%;
			order: 5;
		}
		&__img-before {
			left: 0;
			right: 0;
			position: relative;
			width: 100%;
			max-width: 100%;
			order: 9;

		}
		img.always__img-before {
			position: absolute;
			//top: -100%;
			bottom: -130px;
			top: auto;
		}
	}

	.payments {
		&__list {
			flex-direction: column;
		}

		&__text {
			padding-bottom: 50px;
		}

		&__subtitle {
			padding: 40px 0;
		}
	}

	
}

@include media-width('767px', 'max') {
	.promo {
		&__list {
			gap: 10px;
		}
	}

	.technology {
		&__list {
			gap: 10px;
		}
	}
}

@include media-width('630px', 'max') {
	.promo {
		&__list {
			grid-template-columns: 1fr;
		}
	}

	.technology {
		&__list {
			grid-template-columns: 1fr;
		}
	}
}
