body {
	font-family: "Montserrat";
}

.wrapper {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

.container-header {
	max-width: 1600px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 40px;
}

a {
	text-decoration: none;
	color: $color_sec;
}

.primary-color {
	color: $primary-color;
}